@import "tailwindcss";

:root {
  --primary: #33277d;
  --secondary: #171717;
  --headline: #02a2de;
  --heading: #24232a;
  --colorTextLight: #6b6a7e;
  --font-lexend: "Lexend", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-headline: var(--headline);
  --color-heading: var(--heading);
  --color-text-light: var(--colorTextLight);
  --font-lexend: var(--font-lexend);
  --font-dm-sans: var(--font-dm-sans);
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
